.body{
	font-family: 'Roboto Mono', monospace;
}
.home-title{
	font-family: 'Roboto Mono', monospace;
	font-size: 40px;
	width: 100%;
	text-align: center;
	margin-top: 30px;
	color: black;
	margin-bottom: 30px;
}
.header-link{
	color: black;
	text-decoration: none;
}
#header-img-block{
	width: 100%;
	height: 100%;
	justify-content: center;
	margin-left: 10%;
	margin-right: 10%;
}

#header-image{
	width: 80%;
	height: 80%;
}
.side-menu{
	width: 100%;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	padding-bottom: 50px;
	display: flex;
	justify-content: center;
}

a {
	text-decoration: none;
	color: black;
}

.selected_menu{
	font-weight: bolder;
	font-size: 18px;
}

#shop_grid{
	text-align: center;
	grid-auto-flow: row;
	margin-left: 5%;
	margin-right: 5%;
}

.shop-image{
	height: 80%;
	width: 100%;
	padding-bottom: 10px;
	opacity: 1;
}

.shop-item{
	display: inline-block;
	height: 375px;
	width: 300px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

.item-name{
	font-size: 17px;
	font-family: 'Roboto Mono', monospace;
	padding-bottom: 7px;
}

.item-price{
	font-size: 10px;
	font-family: 'Roboto Mono', monospace;
}

.column {
	vertical-align: top;
	width: 500px;
	display: inline-block;
  	-webkit-columns: 2 500px;
  	-moz-columns: 2 500px;
  	columns: 2 500px;
  	column-fill: auto;
  	padding: 30px;
 }

.detail-image{
	width: 100%;
	height: 100%;
}


.name{
	margin-bottom: 20px;
	display: block;
}

.price{
	margin-bottom: 20px;
	display: block;
}

.item-columns{
	text-align: center;
}
